<div class="container">
    <div class="title">
        <div class="text">
            <h1>Today’s Sales</h1>
            <p>Sales Summery</p>
        </div>
        <button class="export-btn"><img src="export.svg" alt=""><p>Export</p></button>
    </div>
    <div class="content">
        <div class="card-red">
            <div class="logo"><img src="Sales Icon.svg" alt=""></div>
            <h1>$1k</h1>
            <h2>Total Sales</h2>
            <p>+8% from yesterday</p>
        </div>
        <div class="card-yellow">
            <div class="logo"><img src="Order Icon.svg" alt=""></div>
            <h1>300</h1>
            <h2>Total Order</h2>
            <p>+5% from yesterday</p>
        </div>
        <div class="card-green">
            <div class="logo"><img src="Disc Icon.svg" alt=""></div>
            <h1>5</h1>
            <h2>Product Sold</h2>
            <p>+1,2% from yesterday</p>
        </div>
        <div class="card-purple">
            <div class="logo"><img src="New Costumers Icon.svg" alt=""></div>
            <h1>8</h1>
            <h2>New Customers</h2>
            <p>0,5% from yesterday</p>
        </div>
    </div>
</div>
