<div class="container">
    <h1>Visitor Insights</h1>
    <div class="container-chart">
        <canvas #LineChart></canvas>
    </div>
    <div class="container-label">
        <div class="container-pupper">
            <div class="rec"></div>
            <h1>Loyal Customers</h1>
        </div>
        <div class="container-red">
            <div class="rec"></div>
            <h1>New Customers</h1>
        </div>
        <div class="container-green">
            <div class="rec"></div>
            <h1>Unique Customers</h1>
        </div>
    </div>
</div>