<div class="container">
    <h1>Customer Satisfaction</h1>
    <div class="container-chart">
        <canvas #LineChart></canvas>
    </div>
    <div class="hr"></div>
    <div class="container-detail">
        <div class="volume">
            <div class="circle"></div>
            <div class="line-circle"></div>
            <div class="text">
                <h1>Last Month</h1>
                <p>$3,004</p>
            </div>
        </div>
        <div class="line"></div>
        <div class="service">
            <div class="circle"></div>
            <div class="line-circle"></div>
            <div class="text">
                <h1>This Month</h1>
                <p>$4,504</p>
            </div>
        </div>
    </div>
</div>

