<div class="container">
    <h1>Dashboard</h1>
    <div class="search-box">
        <img src="search.svg" alt="" class="search-icon">
        <input type="text" placeholder="Search here..." class="search-input"> 
    </div>
    <div class="dropdown-language">
        <button class="dropdown-btn">
            <img src="US.svg" alt="" class="flag">
            <p>Eng (US)</p>
            <img src="chevron-down.svg" alt="" class="icon-dropdown">
        </button>
        <div class="dropdown-content-language">
            <a href="#"><img src="US.svg" alt="" class="flag"><p>Eng (US)</p></a>
            <a href="#"><img src="TH.png" alt="" class="flag"><p>Thai (TH)</p></a>
            <a href="#"><img src="FR.png" alt="" class="flag"><p>French (FR)</p></a>
            <a href="#"><img src="DE.png" alt="" class="flag"><p>German (DE)</p></a>
        </div>
    </div>
    <div class="notify">
        <button class="notify-btn">
            <img src="clarity_notification-line.svg" alt="" class="bell">
            <img src="red_circle.svg" alt="" class="notify-red">
        </button>
        <div class="notify-content">
            <a href="#">
                <h1>หัวข้อ</h1>
                <p>- เนื้อหา</p>
            </a>
            <hr>
            <a href="">
                <h1>หัวข้อ</h1>
                <p>- เนื้อหา</p>
            </a>
        </div>
    </div>
    <div class="profile">
        <div class="profile-detail">
            <img src="profile.png" alt="" class="img-profile">
            <div class="text">
                <h1>Musfiq</h1>
                <p>Admin</p>
            </div>
            <img src="chevron-down.svg" alt="" class="icon-down">
        </div>
        <div class="profile-content">
            <a href="">
                <img src="user.png" alt="">
                <p>Profile</p>
            </a>
            <a href="">
                <img src="settings.svg" alt="">
                <p>Setting</p>
            </a>
            <hr>
            <a href="">
                <img src="sign_out.svg" alt="">
                <p>Sign Out</p>
            </a>
        </div>
    </div>
</div>
