<div class="container">
    <h1>Top Products</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Popularity</th>
                <th>Sales</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Home Decor Range</td>
                <td>
                    <div class="progress progress-blue"><div class="progress-bar blue"></div></div>
                </td>
                <td><span class="btn btn-blue fill-blue">45%</span></td>
            </tr>
            <tr>
                <td>02</td>
                <td>Disney Princess Pink Bag 18'</td>
                <td>
                    <div class="progress progress-green"><div class="progress-bar green"></div></div>
                </td>
                <td><span class="btn btn-green fill-green">29%</span></td>
            </tr>
            <tr>
                <td>03</td>
                <td>Bathroom Essentials</td>
                <td>
                    <div class="progress progress-purple"><div class="progress-bar purple"></div></div>
                </td>
                <td><span class="btn btn-purple fill-purple">18%</span></td>
            </tr>
            <tr>
                <td>04</td>
                <td>Apple Smartwatches</td>
                <td>
                    <div class="progress progress-orange"><div class="progress-bar orange"></div></div>
                </td>
                <td><span class="btn btn-orange fill-orange">25%</span></td>
            </tr>
        </tbody>
    </table>
</div>
