<div class="container">
    <div class="logo-container">
        <img src="dummy logo.svg" alt="">
        <h1>Dabang</h1>
    </div>
    <div class="menu-container">
        <ul>
            <li><img src="dashboard.svg" alt=""><a class="firsttext"href="#">Dashboard</a></li>
            <li><img src="leaderboard.svg" alt=""><a href="#">Leaderboard</a></li>
            <li><img src="shopping_cart.svg" alt=""><a href="#">order</a></li>
            <li><img src="products.svg" alt=""><a href="#">Products</a></li>
            <li><img src="chart_line.svg" alt=""><a href="#">Sales Report</a></li>
            <li><img src="messages.svg" alt=""><a href="#">Messages</a></li>
            <li><img src="settings.svg" alt=""><a href="#">Settings</a></li>
            <li><img src="sign_out.svg" alt=""><a href="#">Sign Out</a></li>
        </ul>
    </div>
    <div class="dabang-pro">
        <div class="background-dabang">
            <div class="container-dabang">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="logo-dabang">
                    <img src="dabang_logo.svg" alt="">
                </div>
                <h1>Dabang Pro</h1>
                <p>Get access to all<br>features on tetumbas</p>
                <button type="submit">Get Pro</button>
            </div>
        </div>
    </div>
    <div class="footer-menu"></div>
</div>