<div class="container">
    <h1>Volume vs Service Level</h1>
    <div class="container-chart">
        <canvas #BarChart></canvas>
    </div>
    <div class="hr"></div>
    <div class="container-detail">
        <div class="volume">
            <div class="circle"></div>
            <div class="text">
                <h1>Volume</h1>
                <p>1,135</p>
            </div>
        </div>
        <div class="line"></div>
        <div class="service">
            <div class="circle"></div>
            <div class="text">
                <h1>Services</h1>
                <p>635</p>
            </div>
        </div>
    </div>
</div>